@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
  scroll-behavior: smooth;
  font-family: "Space Mono", monospace;
  color: #1c1c2c;
  margin: 0;
  padding: 0;
  -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  animation: -amp-start 8s steps(1, end) 0s 1 normal both;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
}

header .container {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 550px) {
  header .container {
    grid-template-columns: 150px auto;
  }
}
header #logoContainer .td_logo_header {
  width: 100%;
  z-index: 10;
  position: relative;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

header #logoContainer .icon-temasde_logo_with_letters {
  font-size: 5em;
  transition: font-size 300ms ease-in-out;
}

@media only screen and (max-width: 770px) {
  header #logoContainer .icon-temasde_logo_with_letters {
    font-size: 3em;
  }
}
header #menuDesktop {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

header #menuDesktop a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 220ms ease-in;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

header #menuDesktop a span {
  display: block;
}

header #menuDesktop a:hover span:nth-child(1) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.0909090909s;
}

header #menuDesktop a:hover span:nth-child(2) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.1818181818s;
}

header #menuDesktop a:hover span:nth-child(3) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.2727272727s;
}

header #menuDesktop a:hover span:nth-child(4) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.3636363636s;
}

header #menuDesktop a:hover span:nth-child(5) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.4545454545s;
}

header #menuDesktop a:hover span:nth-child(6) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.5454545455s;
}

header #menuDesktop a:hover span:nth-child(7) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.6363636364s;
}

header #menuDesktop a:hover span:nth-child(8) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.7272727273s;
}

header #menuDesktop a:hover span:nth-child(9) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.8181818182s;
}

header #menuDesktop a:hover span:nth-child(10) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.9090909091s;
}

header #menuDesktop a:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 500ms ease-in;
}

header #menuDesktop a:hover {
  color: #d7d7d7;
}

header #menuDesktop a:hover:after {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  header #menuDesktop {
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 770px) {
  header #menuDesktop {
    display: none;
  }
}
header #menuIconContainer {
  z-index: 100;
  display: none;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

@media only screen and (max-width: 770px) {
  header #menuIconContainer {
    display: grid;
  }
}
header #menuIconContainer #menuIcon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#menuIcon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 30px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menuIcon span:nth-child(1) {
  top: 0;
}

#menuIcon span:nth-child(2) {
  top: 10px;
}

#menuIcon span:nth-child(3) {
  top: 20px;
}

#menuIcon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menuIcon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menuIcon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

header #menuScreen {
  height: 100vh;
  position: absolute;
  top: -100vh;
  width: 100%;
  z-index: 1;
  left: 0;
  background: #020102;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  -webkit-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header #menuScreen.open {
  top: 0;
}

header #menuScreen .container {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  grid-gap: 30px;
}

header #menuScreen .container a {
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 0;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

header #menuScreen .container a:hover {
  text-shadow: 3px 3px 0 #626262;
}

header #menuScreen .container a.active {
  color: #fff;
}

footer {
  background: #1c1c2c;
  padding: 50px 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer #footerBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

footer .container .leftFooter {
  text-align: left;
  display: grid;
  grid-template-rows: 100px 50px 50px 50px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

footer .container .leftFooter .icon {
  font-size: 4em;
}

@media only screen and (max-width: 770px) {
  footer .container .leftFooter {
    text-align: center;
  }
}
footer .container .rightFooter p {
  color: #ffffff;
}

footer .container .rightFooter form {
  width: 100%;
  max-width: 360px;
}

footer .container .rightFooter form input,
footer .container .rightFooter form textarea {
  font: 100% "Space Mono", monospace;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  background: transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-weight: 700;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: 700;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-weight: 700;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: 700;
}

footer .container .rightFooter form textarea {
  margin-top: 20px;
  resize: none;
}

footer .container .rightFooter form input[type=text],
footer .container .rightFooter form input[type=email],
footer .container .rightFooter form textarea {
  width: calc(100% - 26px);
  padding: 6px 10px 6px 15px;
}

footer .container .rightFooter form input[type=submit] {
  padding: 6px 10px;
  box-shadow: 0px 0px 0px #949488;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .container .rightFooter form input[type=submit]:hover {
  cursor: pointer;
  font-weight: 700;
  color: #1c1c2c;
  background: #ffffff;
  box-shadow: 5px 5px 0px #949488;
}

@media only screen and (max-width: 770px) {
  footer #footerBox {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .rightFooter {
    max-width: 360px;
    margin: 0 auto;
  }
}
footer #piedepagina {
  text-align: center;
  color: #ffffff;
  font-size: 0.9em;
  padding-top: 40px;
}

footer #piedepagina a {
  text-decoration: none;
  font-weight: 700;
}

footer #piedepagina p {
  margin: 0;
}

.animate {
  opacity: 0;
  transform: translate(0, -100px);
  -webkit-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.animate.active {
  opacity: 1;
  transform: translate(0, 0);
}

/*index*/
#indexSection {
  background-image: url("../img/foto_index.jpg");
}

#nosotrosFirstSection {
  background-image: url("../img/foto_nosotros.jpg");
}

#serviciosFirstSection {
  background-image: url("../img/foto_servicios.jpg");
}

#ingenieriaFirstSection {
  background-image: url("../img/foto_ingenieria.jpg");
}

.firstSection {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 75%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.firstSectionContainer {
  max-width: 540px;
}

.firstSection h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 0px 3px #11111f8c;
  -webkit-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  -moz-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  -ms-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
}

.firstSection h1 span {
  font-size: 2em;
  display: block;
  transition: font-size 300ms ease-out;
}

.firstSection button {
  font: 100% "Space Mono", monospace;
  width: 100%;
  font-weight: 700;
  margin: 20px auto;
  background: #acacac;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  -moz-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  -ms-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
}

.firstSection button:hover {
  background: #020102;
  color: #d7d7d7;
}

@media only screen and (max-width: 770px) {
  .firstSection {
    background-position: 0;
    background-size: cover;
    text-align: center;
  }

  .firstSection .container {
    max-width: 300px;
  }

  .firstSection h1 span {
    font-size: 1.5em;
  }
}
.secondSection {
  padding: 100px 0;
}

.secondSection .title {
  max-width: 660px;
  margin: 0px auto 50px auto;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.secondSection .title b {
  font-weight: 700;
}

.secondSection .subtitle {
  font-size: 1.5em;
  text-align: center;
  max-width: 550px;
  margin: 50px auto;
}

.secondSection .gridSoluciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.secondSection .gridSoluciones .box {
  display: grid;
  padding: 10px;
  grid-template-rows: 100px auto;
}

.secondSection .gridSoluciones .box div {
  padding: 10px;
}

.secondSection .gridSoluciones .box p {
  font-size: 1.2em;
}

.secondSection .gridSoluciones .box h2 {
  margin-top: 0;
}

.secondSection .gridSoluciones .icon {
  font-size: 5em;
}

@media only screen and (max-width: 770px) {
  .secondSection {
    padding: 50px 0;
  }

  .secondSection .gridSoluciones {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
    text-align: left;
  }

  .secondSection .gridSoluciones .box {
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-template-rows: unset;
  }

  .secondSection .gridSoluciones .box div {
    padding: 0;
  }

  .secondSection .gridSoluciones .box div:first-child {
    text-align: center;
  }

  .secondSection .gridSoluciones .box p {
    font-size: 1em;
  }

  .secondSection .gridSoluciones .icon {
    font-size: 5em;
  }

  .secondSection .gridSoluciones .box h2 {
    font-size: 1.2em;
  }
}
#serviciosSectionIndex {
  padding: 0 0 100px 0;
}

#serviciosSectionIndex .title {
  text-align: center;
}

#serviciosSectionIndex .gridServicios {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

#serviciosSectionIndex .gridServicios a {
  font-size: 1.5em;
  color: #020102;
  text-decoration: none;
  width: 100%;
}

#serviciosSectionIndex .gridServicios a .box {
  padding: 50px 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#serviciosSectionIndex .gridServicios a .box .icon {
  font-size: 4.3em;
  position: relative;
}

#serviciosSectionIndex .gridServicios a .box p {
  font-weight: 700;
  margin: 0;
}

#serviciosSectionIndex .gridServicios .box.gris {
  background: #d7d7d7;
}

#serviciosSectionIndex .gridServicios .box.dash {
  border: 3px #1c1c2c dashed;
}

@media only screen and (max-width: 770px) {
  #serviciosSectionIndex .gridServicios {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #serviciosSectionIndex .gridServicios a .box {
    padding: 25px 10px;
  }

  #serviciosSectionIndex .gridServicios a {
    font-size: 1em;
  }
}
#serviciosSectionIndex .gridServicios .telecomunicaciones {
  position: relative;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
}

#serviciosSectionIndex .gridServicios .telecomunicaciones div {
  background: #1c1c2c;
  color: #ffffff;
}

#serviciosSectionIndex .gridServicios .telecomunicaciones .icon {
  color: #ffffff;
}

#serviciosSectionIndex .gridServicios .telecomunicaciones .icon .line {
  position: absolute;
  height: 3px;
  background: #1c1c2c;
  border: 0;
  top: 53px;
  left: 19%;
}

#serviciosSectionIndex .gridServicios .telecomunicaciones:hover .icon .line {
  -webkit-animation: tele 1s infinite;
  -moz-animation: tele 1s infinite;
  -ms-animation: tele 1s infinite;
  animation: tele 1s infinite;
}

#serviciosSectionIndex .gridServicios .control:hover .path2:before {
  display: inline-block;
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

#serviciosSectionIndex .gridServicios .control:hover .path1:before {
  display: inline-block;
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

#serviciosSectionIndex .gridServicios .sistemas .box .icon {
  font-size: 3.5em;
}

#serviciosSectionIndex .gridServicios .sistemas .path2:before,
#serviciosSectionIndex .gridServicios .sistemas .path3:before,
#serviciosSectionIndex .gridServicios .sistemas .path4:before,
#serviciosSectionIndex .gridServicios .sistemas .path5:before,
#serviciosSectionIndex .gridServicios .sistemas .path6:before,
#serviciosSectionIndex .gridServicios .sistemas .path7:before,
#serviciosSectionIndex .gridServicios .sistemas .path12:before,
#serviciosSectionIndex .gridServicios .sistemas .path13:before,
#serviciosSectionIndex .gridServicios .sistemas .path14:before {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path12:before {
  opacity: 0;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path13:before {
  opacity: 0;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path14:before {
  opacity: 0;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path2:before {
  -webkit-animation: sistemasLines 1s infinite;
  -moz-animation: sistemasLines 1s infinite;
  -ms-animation: sistemasLines 1s infinite;
  animation: sistemasLines 1s infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path3:before {
  -webkit-animation: sistemasLines 1s 300ms infinite;
  -moz-animation: sistemasLines 1s 300ms infinite;
  -ms-animation: sistemasLines 1s 300ms infinite;
  animation: sistemasLines 1s 300ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path4:before {
  -webkit-animation: sistemasLines 1s 400ms infinite;
  -moz-animation: sistemasLines 1s 400ms infinite;
  -ms-animation: sistemasLines 1s 400ms infinite;
  animation: sistemasLines 1s 400ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path5:before {
  -webkit-animation: sistemasLines 1s 500ms infinite;
  -moz-animation: sistemasLines 1s 500ms infinite;
  -ms-animation: sistemasLines 1s 500ms infinite;
  animation: sistemasLines 1s 500ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path6:before {
  -webkit-animation: sistemasLines 1s 600ms infinite;
  -moz-animation: sistemasLines 1s 600ms infinite;
  -ms-animation: sistemasLines 1s 600ms infinite;
  animation: sistemasLines 1s 600ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path6:before {
  -webkit-animation: sistemasLines 1s 700ms infinite;
  -moz-animation: sistemasLines 1s 700ms infinite;
  -ms-animation: sistemasLines 1s 700ms infinite;
  animation: sistemasLines 1s 700ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path1:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s infinite;
  -moz-animation: sistemasMove 1s infinite;
  -ms-animation: sistemasMove 1s infinite;
  animation: sistemasMove 1s infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path9:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path10:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

#serviciosSectionIndex .gridServicios .sistemas:hover .path11:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 600ms infinite;
  -moz-animation: sistemasMove 1s 600ms infinite;
  -ms-animation: sistemasMove 1s 600ms infinite;
  animation: sistemasMove 1s 600ms infinite;
}

#serviciosSectionIndex .gridServicios .seguridad svg {
  width: 65px;
}

#serviciosSectionIndex .gridServicios .seguridad .circle {
  fill: #2a294c;
  stroke: none;
  stroke-width: 0px;
  stroke-dasharray: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSectionIndex .gridServicios .seguridad:hover .circle {
  fill: none;
  stroke: #2a294c;
  stroke-width: 0.9px;
  -webkit-animation: seguridad 3s infinite;
  -moz-animation: seguridad 3s infinite;
  -ms-animation: seguridad 3s infinite;
  animation: seguridad 3s infinite;
}

#serviciosSectionIndex .gridServicios .automatizacion .icon {
  font-size: 3.6em !important;
}

@media only screen and (max-width: 770px) {
  #serviciosSectionIndex .gridServicios .sistemas svg {
    width: 65px;
  }

  #serviciosSectionIndex .gridServicios .automatizacion .icon {
    font-size: 5.3em !important;
  }
}
#serviciosSectionIndex .gridServicios .automatizacion:hover .path6:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.5454545455s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path7:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.6363636364s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path8:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.7272727273s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path9:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.8181818182s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path10:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.9090909091s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path11:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path12:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.0909090909s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path13:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.1818181818s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path14:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.2727272727s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path15:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.3636363636s;
}

#serviciosSectionIndex .gridServicios .automatizacion:hover .path16:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.4545454545s;
}

#frase_index {
  background-image: url("../img/foto_frase.jpg");
}

#frase_servicios {
  background-image: url("../img/foto_frase_servicios.jpg");
}

#frase_ingenieria {
  background-image: url("../img/foto_frase_ingenieria.jpg");
}

.fraseSection {
  padding: 100px 0;
  display: grid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: auto;
  background-position: 75%;
  background-repeat: no-repeat;
}

.fraseSection p {
  font-size: 1.5em;
  color: #ffffff;
  text-align: left;
  max-width: 550px;
}

.fraseSection p b {
  text-transform: uppercase;
}

@media only screen and (max-width: 770px) {
  .fraseSection {
    padding: 50px 0;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.glide__bullet {
  border: 2px solid #1d1d3b;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  padding: 0;
  background: transparent;
}

.glide__bullet:hover {
  cursor: pointer;
}

.glide__bullet--active {
  background: #1d1d3b;
}

.glide__bullets {
  text-align: center;
}

#ingenieriaSection {
  padding: 100px 0;
}

#ingenieriaSection h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#ingenieriaSection a {
  text-decoration: none;
}

#ingenieriaSection .glide__slide {
  text-align: center;
  border-radius: 25px;
  margin: 0 25px;
  overflow: hidden;
}

#ingenieriaSection .glide__slide .box {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-content: center;
  text-align: left;
}

#ingenieriaSection .glide__slide .box span {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
}

#ingenieriaSection .glide__slide .box p {
  padding: 0;
  margin: 0;
}

#ingenieriaSection .glide__slide .box .title {
  font-size: 1.5em;
  font-weight: 700;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#ingenieriaSection .glide__slide .box .subtitle {
  text-decoration: underline;
  font-size: 1.2em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#ingenieriaSection .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

#ingenieriaSection .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 2.3em;
}

#ingenieriaSection .glide__slide.detalles .title {
  color: #1d1d3b;
}

#ingenieriaSection .glide__slide.detalles .subtitle {
  color: #adacb2;
}

#ingenieriaSection .glide__slide.conceptual {
  background: #1d1d3b;
}

#ingenieriaSection .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 5em;
}

#ingenieriaSection .glide__slide.conceptual .title {
  color: #ffffff;
}

#ingenieriaSection .glide__slide.conceptual .subtitle {
  color: #adacb2;
}

#ingenieriaSection .glide__slide.basica {
  background: #d7d7d7;
}

#ingenieriaSection .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 2.2em;
}

#ingenieriaSection .glide__slide.basica .title {
  color: #020102;
}

#ingenieriaSection .glide__slide.basica .subtitle {
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  #ingenieriaSection .glide__slide {
    margin: 0 15px;
  }

  #ingenieriaSection .glide__slide .box .title {
    font-size: 1.5em !important;
  }
}
@media only screen and (max-width: 770px) {
  #ingenieriaSection .container {
    max-width: none;
    width: 100%;
  }

  #ingenieriaSection .glide__slide {
    overflow: unset;
  }

  #ingenieriaSection .glide__slide .box .title {
    font-size: 1.2em !important;
  }
}
@media only screen and (max-width: 550px) {
  #ingenieriaSection {
    padding: 50px 0;
  }

  #ingenieriaSection .i-amphtml-carousel-slotted {
    display: contents;
    height: 100%;
    justify-items: center;
  }

  #ingenieriaSection .glide__slide .box {
    height: 150px !important;
    grid-gap: 15px;
  }

  #ingenieriaSection .glide__slide .box .title {
    font-size: 1.2em !important;
  }

  #ingenieriaSection .glide__slide .box .subtitle {
    font-size: 0.7em !important;
  }

  #ingenieriaSection .conceptual .box span {
    font-size: 5em !important;
  }

  #ingenieriaSection .basica .box span {
    font-size: 2.2em !important;
  }

  #ingenieriaSection .detalles .box span {
    font-size: 2.5em !important;
  }
}
#clientesSection {
  padding: 0 0 100px 0;
}

#clientesSection h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#clientesSection .gallery .item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}

#clientesSection .gallery .item img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 770px) {
  #clientesSection {
    padding: 0 0 25px 0;
  }

  #clientesSection .gallery .item img {
    width: 50%;
  }
}
#nosotrosSection .glide__slide {
  text-align: center;
  border-radius: 25px;
  margin: 0 50px;
}

#nosotrosSection .glide__slide .box {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#nosotrosSection .glide__slide .box .title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px 0;
}

#nosotrosSection .glide__slide .box ul {
  padding: 0;
  max-width: 200px;
  margin: 0;
}

#nosotrosSection .glide__slide .box ul li {
  text-align: left;
  font-size: 1em;
  list-style-type: "-";
}

#nosotrosSection .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

#nosotrosSection .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 3em;
}

#nosotrosSection .glide__slide.detalles .title {
  color: #1d1d3b;
}

#nosotrosSection .glide__slide.detalles ul li {
  color: #1d1d3b;
}

#nosotrosSection .glide__slide.conceptual {
  background: #1d1d3b;
}

#nosotrosSection .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 8em;
}

#nosotrosSection .glide__slide.conceptual .title {
  color: #ffffff;
}

#nosotrosSection .glide__slide.conceptual ul li {
  color: #ffffff;
}

#nosotrosSection .glide__slide.basica {
  background: #d7d7d7;
}

#nosotrosSection .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 3em;
}

#nosotrosSection .glide__slide.basica .title {
  color: #020102;
}

#nosotrosSection .glide__slide.basica ul li {
  color: #020102;
}

#nosotrosSection .glide__bullets {
  display: none;
}

@media only screen and (max-width: 900px) {
  #nosotrosSection .glide__bullets {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  #nosotrosSection .glide__slide {
    margin: 0 25px;
  }

  #nosotrosSection .box {
    padding: 10px;
  }

  #nosotrosSection .box span {
    font-size: 2em;
  }

  #nosotrosSection .glide__slide .box .title {
    font-size: 1.2em;
  }

  #nosotrosSection .glide__slide .box .box ul li {
    font-size: 1em;
  }

  #nosotrosSection .glide__slide.detalles .box span {
    font-size: 2.5em;
  }

  #nosotrosSection .glide__slide.conceptual .box span {
    font-size: 5em;
  }

  #nosotrosSection .glide__slide.basica .box span {
    font-size: 2.3em;
  }
}
#sectoresSection {
  text-align: center;
  padding-bottom: 100px;
}

#sectoresSection p {
  font-size: 1.5em;
}

#sectoresSection .sectoresContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#sectoresSection .box2 {
  margin: 70px auto;
  max-width: 200px;
  font-size: 1.5em;
}

#sectoresSection .box2 .icon {
  font-size: 3em;
}

#sectoresSection .box2 ul {
  padding: 0;
}

#sectoresSection .box2 ul li {
  text-align: left;
  font-size: 0.9em;
  list-style-type: "-";
}

@media only screen and (max-width: 900px) {
  #sectoresSection .box2 {
    margin: 20px auto;
  }

  #sectoresSection .sectoresContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.anime {
  opacity: 0;
  -webkit-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.animeDerecha {
  transform: translate(-100px, 0);
}

.animeIzquierda {
  transform: translate(100px, 0);
}

.anime.active {
  opacity: 1;
  transform: translate(0, 0);
}

#serviciosSection {
  padding: 100px 0;
}

#serviciosSection .serviciosBox {
  color: #020102;
  width: 100%;
}

#serviciosSection .serviciosBox .anime {
  width: 90%;
  margin: 50px auto;
}

#serviciosSection .serviciosBox .box {
  width: 90%;
  border-radius: 20px;
  padding: 25px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#serviciosSection .serviciosBox .box .servicioContainer {
  display: grid;
  grid-template-columns: 100px 300px;
  justify-content: center;
  align-items: center;
}

#serviciosSection .serviciosBox .box .icon {
  font-size: 5em;
  position: relative;
}

#serviciosSection .serviciosBox .box p {
  font-weight: 700;
  font-size: 1.5em;
  margin: 10px 0;
}

#serviciosSection .serviciosBox .box ul {
  padding: 0;
  margin: 0;
}

#serviciosSection .serviciosBox .box ul li {
  text-align: left;
  font-size: 1em;
  list-style-type: "-";
}

#serviciosSection .serviciosBox .box.gris {
  background: #d7d7d7;
}

#serviciosSection .serviciosBox .box.dash {
  border: 3px #1c1c2c dashed;
}

@media only screen and (max-width: 770px) {
  .animeDerecha {
    transform: translate(-50px, 0);
  }

  #serviciosSection .serviciosBox .box .servicioContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #serviciosSection .serviciosBox .box p {
    font-size: 1.3em;
  }

  #serviciosSection .serviciosBox .box ul {
    padding: 0 0 0 20px;
  }
}
#serviciosSection .serviciosBox .telecomunicaciones {
  position: relative;
  color: #ffffff;
}

#serviciosSection .serviciosBox .telecomunicaciones .box {
  background: #d7d7d7;
  color: #1c1c2c;
}

#serviciosSection .serviciosBox .telecomunicaciones .icon {
  color: #1c1c2c;
}

#serviciosSection .serviciosBox .telecomunicaciones .icon .line {
  position: absolute;
  height: 4px;
  background: #d7d7d7;
  border: 0;
  top: 40px;
  left: 19%;
}

#serviciosSection .serviciosBox .telecomunicaciones:hover .icon .line {
  -webkit-animation: tele 1s infinite;
  -moz-animation: tele 1s infinite;
  -ms-animation: tele 1s infinite;
  animation: tele 1s infinite;
}

#serviciosSection .serviciosBox .sistemas .box .icon {
  font-size: 6em;
}

#serviciosSection .serviciosBox .sistemas .path2:before,
#serviciosSection .serviciosBox .sistemas .path3:before,
#serviciosSection .serviciosBox .sistemas .path4:before,
#serviciosSection .serviciosBox .sistemas .path5:before,
#serviciosSection .serviciosBox .sistemas .path6:before,
#serviciosSection .serviciosBox .sistemas .path7:before,
#serviciosSection .serviciosBox .sistemas .path12:before,
#serviciosSection .serviciosBox .sistemas .path13:before,
#serviciosSection .serviciosBox .sistemas .path14:before {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSection .serviciosBox .sistemas:hover .path12:before {
  opacity: 0;
}

#serviciosSection .serviciosBox .sistemas:hover .path13:before {
  opacity: 0;
}

#serviciosSection .serviciosBox .sistemas:hover .path14:before {
  opacity: 0;
}

#serviciosSection .serviciosBox .sistemas:hover .path2:before {
  -webkit-animation: sistemasLines 1s infinite;
  -moz-animation: sistemasLines 1s infinite;
  -ms-animation: sistemasLines 1s infinite;
  animation: sistemasLines 1s infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path3:before {
  -webkit-animation: sistemasLines 1s 300ms infinite;
  -moz-animation: sistemasLines 1s 300ms infinite;
  -ms-animation: sistemasLines 1s 300ms infinite;
  animation: sistemasLines 1s 300ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path4:before {
  -webkit-animation: sistemasLines 1s 400ms infinite;
  -moz-animation: sistemasLines 1s 400ms infinite;
  -ms-animation: sistemasLines 1s 400ms infinite;
  animation: sistemasLines 1s 400ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path5:before {
  -webkit-animation: sistemasLines 1s 500ms infinite;
  -moz-animation: sistemasLines 1s 500ms infinite;
  -ms-animation: sistemasLines 1s 500ms infinite;
  animation: sistemasLines 1s 500ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path6:before {
  -webkit-animation: sistemasLines 1s 600ms infinite;
  -moz-animation: sistemasLines 1s 600ms infinite;
  -ms-animation: sistemasLines 1s 600ms infinite;
  animation: sistemasLines 1s 600ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path6:before {
  -webkit-animation: sistemasLines 1s 700ms infinite;
  -moz-animation: sistemasLines 1s 700ms infinite;
  -ms-animation: sistemasLines 1s 700ms infinite;
  animation: sistemasLines 1s 700ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path1:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s infinite;
  -moz-animation: sistemasMove 1s infinite;
  -ms-animation: sistemasMove 1s infinite;
  animation: sistemasMove 1s infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path9:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path10:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

#serviciosSection .serviciosBox .sistemas:hover .path11:before {
  display: inline-block;
  -webkit-animation: sistemasMove 1s 600ms infinite;
  -moz-animation: sistemasMove 1s 600ms infinite;
  -ms-animation: sistemasMove 1s 600ms infinite;
  animation: sistemasMove 1s 600ms infinite;
}

#serviciosSection .serviciosBox .seguridad svg {
  width: 75px;
  margin: 0 auto;
}

#serviciosSection .serviciosBox .seguridad .circle {
  fill: #2a294c;
  stroke: none;
  stroke-width: 0px;
  stroke-dasharray: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSection .serviciosBox .seguridad:hover .circle {
  fill: none;
  stroke: #2a294c;
  stroke-width: 0.9px;
  -webkit-animation: seguridad 3s infinite;
  -moz-animation: seguridad 3s infinite;
  -ms-animation: seguridad 3s infinite;
  animation: seguridad 3s infinite;
}

#serviciosSection .serviciosBox .control:hover .path2:before {
  display: inline-block;
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

#serviciosSection .serviciosBox .control:hover .path1:before {
  display: inline-block;
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

#serviciosSection .serviciosBox .automatizacion .box {
  background: #1c1c2c;
  color: #ffffff;
}

@media only screen and (max-width: 770px) {
  .serviciosBox .automatizacion .icon {
    font-size: 5.3em !important;
  }
}
#serviciosSection .serviciosBox .automatizacion:hover .path6:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.5454545455s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path7:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.6363636364s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path8:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.7272727273s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path9:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.8181818182s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path10:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.9090909091s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path11:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path12:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.0909090909s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path13:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.1818181818s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path14:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.2727272727s;
}

#serviciosSection .serviciosBox .automatizacion:hover .path15:before {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.3636363636s;
}

#ingenieriaCarousel {
  padding: 100px 0;
}

#ingenieriaCarousel h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#ingenieriaCarousel .subtitle {
  text-align: center;
}

#ingenieriaCarousel a {
  text-decoration: none;
}

#ingenieriaCarousel .glide__slide {
  text-align: center;
  border-radius: 25px;
  margin: 0 50px;
}

#ingenieriaCarousel .glide__slide .box {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#ingenieriaCarousel .glide__slide .box .title {
  font-size: 1.5em;
  margin: 10px 0;
  line-height: 30px;
}

#ingenieriaCarousel .glide__slide .box ul {
  padding: 0;
  margin: 0;
}

#ingenieriaCarousel .glide__slide .box ul li {
  text-align: left;
  font-size: 1em;
  list-style-type: "-";
}

#ingenieriaCarousel .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

#ingenieriaCarousel .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 2.5em;
}

#ingenieriaCarousel .glide__slide.detalles .title {
  color: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.detalles ul li {
  color: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.conceptual {
  background: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 5em;
}

#ingenieriaCarousel .glide__slide.conceptual .title {
  color: #ffffff;
}

#ingenieriaCarousel .glide__slide.conceptual ul li {
  color: #ffffff;
}

#ingenieriaCarousel .glide__slide.basica {
  background: #d7d7d7;
}

#ingenieriaCarousel .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 2.5em;
}

#ingenieriaCarousel .glide__slide.basica .title {
  color: #020102;
}

#ingenieriaCarousel .glide__slide.basica ul li {
  color: #020102;
}

@media only screen and (max-width: 550px) {
  #ingenieriaCarousel .glide__slide {
    margin: 0 25px;
  }

  #ingenieriaCarousel .box {
    padding: 10px;
  }

  #ingenieriaCarousel .box span {
    font-size: 2em;
  }

  #ingenieriaCarousel .glide__slide .box .title {
    font-size: 1.2em;
  }

  #ingenieriaCarousel .glide__slide .box .box ul li {
    font-size: 1em;
  }

  #ingenieriaCarousel .glide__slide.detalles .box span {
    font-size: 2.5em;
  }

  #ingenieriaCarousel .glide__slide.conceptual .box span {
    font-size: 5em;
  }

  #ingenieriaCarousel .glide__slide.basica .box span {
    font-size: 2.3em;
  }
}
.polizaSection {
  padding: 50px 0;
}

.polizaSection .container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  max-width: 720px;
  align-items: center;
}

.polizaSection .container .icon {
  font-size: 5em;
  text-align: center;
}

.polizaSection .container p {
  font-size: 1.5em;
}

@media only screen and (max-width: 770px) {
  .polizaSection .container {
    grid-template-columns: 50px 1fr;
  }

  .polizaSection .container .icon {
    font-size: 2.5em;
  }

  .polizaSection .container p {
    font-size: 1em;
  }
}
#ingenieriaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 50px;
}

#ingenieriaGrid .box {
  width: calc(100% - 40px);
  border-radius: 25px;
  padding: 20px;
  display: grid;
  align-content: center;
  text-align: center;
  align-items: center;
}

#ingenieriaGrid .box .title {
  margin: 0;
  font-size: 1.5em;
  margin: 20px 0;
}

#ingenieriaGrid .box ul {
  text-align: left;
}

#ingenieriaGrid .box.detalles {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  border: 2px #1d1d3b dashed;
}

#ingenieriaGrid .box.detalles .title {
  color: #1d1d3b;
}

#ingenieriaGrid .box.detalles span {
  color: #1d1d3b;
  font-size: 2.5em;
}

#ingenieriaGrid .box.detalles .title {
  color: #1d1d3b;
}

#ingenieriaGrid .box.detalles ul li {
  color: #1d1d3b;
}

#ingenieriaGrid .box.conceptual {
  background: #1d1d3b;
}

#ingenieriaGrid .box.conceptual span {
  color: #ffffff;
  font-size: 5em;
}

#ingenieriaGrid .box.conceptual .title {
  color: #ffffff;
}

#ingenieriaGrid .box.conceptual ul li {
  color: #ffffff;
}

#ingenieriaGrid .box.basica {
  background: #d7d7d7;
}

#ingenieriaGrid .box.basica span {
  color: #1d1d3b;
  font-size: 2.3em;
}

#ingenieriaGrid .box.basica .title {
  color: #020102;
}

#ingenieriaGrid .box.basica ul li {
  color: #020102;
}

@media only screen and (max-width: 770px) {
  #ingenieriaGrid {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-gap: 25px;
  }

  #ingenieriaGrid .box .title {
    font-size: 1.25em;
    text-align: left;
    margin: 0;
  }

  #ingenieriaGrid .box.detalles {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media only screen and (max-width: 550px) {
  #ingenieriaGrid .box .title {
    font-size: 1.2em;
  }

  #ingenieriaGrid .box.detalles span {
    font-size: 2.2em;
  }

  #ingenieriaGrid .box.conceptual span {
    font-size: 4em;
  }

  #ingenieriaGrid .box.basica span {
    font-size: 2em;
  }
}
/*ANIMATIONS*/
@-webkit-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-moz-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-ms-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-o-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-ms-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-ms-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-moz-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-ms-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-o-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-moz-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-ms-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-o-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sistemasLines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes sistemasLines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes sistemasLines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes sistemasLines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sistemasLines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
@-moz-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
@-ms-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
@-o-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
@keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
@-webkit-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-moz-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-ms-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-o-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-webkit-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-moz-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-ms-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-o-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
