body {
  scroll-behavior: smooth;
  font: 100% "Space Mono", monospace;
  color: #1c1c2c;
  margin: 0;
  padding: 0;
  -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  animation: -amp-start 8s steps(1, end) 0s 1 normal both;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
}

header .container {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 550px) {
  header .container {
    grid-template-columns: 150px auto;
  }
}
header #logoContainer .td_logo_header {
  width: 100%;
  z-index: 10;
  position: relative;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

header #logoContainer .icon-td_logo_header {
  font-size: 5em;
  transition: font-size 300ms ease-in-out;
}

@media only screen and (max-width: 700px) {
  header #logoContainer .icon-td_logo_header {
    font-size: 3em;
  }
}
header #menuDesktop {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

header #menuDesktop a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 220ms ease-in;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

header #menuDesktop a span {
  display: block;
}

header #menuDesktop a:hover span:nth-child(1) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.0909090909s;
}

header #menuDesktop a:hover span:nth-child(2) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.1818181818s;
}

header #menuDesktop a:hover span:nth-child(3) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.2727272727s;
}

header #menuDesktop a:hover span:nth-child(4) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.3636363636s;
}

header #menuDesktop a:hover span:nth-child(5) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.4545454545s;
}

header #menuDesktop a:hover span:nth-child(6) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.5454545455s;
}

header #menuDesktop a:hover span:nth-child(7) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.6363636364s;
}

header #menuDesktop a:hover span:nth-child(8) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.7272727273s;
}

header #menuDesktop a:hover span:nth-child(9) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.8181818182s;
}

header #menuDesktop a:hover span:nth-child(10) {
  -webkit-animation: menuSpan 500ms ease-in;
  -moz-animation: menuSpan 500ms ease-in;
  -ms-animation: menuSpan 500ms ease-in;
  animation: menuSpan 500ms ease-in;
  animation-delay: 0.9090909091s;
}

header #menuDesktop a:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 500ms ease-in;
}

header #menuDesktop a:hover {
  color: #9e9ea4;
}

header #menuDesktop a:hover:after {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  header #menuDesktop {
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 700px) {
  header #menuDesktop {
    display: none;
  }
}
header #menuIconContainer {
  z-index: 100;
  display: none;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  -webkit-animation: show 1s ease-out;
  -moz-animation: show 1s ease-out;
  -ms-animation: show 1s ease-out;
  animation: show 1s ease-out;
}

@media only screen and (max-width: 700px) {
  header #menuIconContainer {
    display: grid;
  }
}
header #menuIconContainer #menuIcon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#menuIcon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 30px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menuIcon span:nth-child(1) {
  top: 0;
}

#menuIcon span:nth-child(2) {
  top: 10px;
}

#menuIcon span:nth-child(3) {
  top: 20px;
}

#menuIcon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menuIcon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menuIcon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

header #menuScreen {
  height: 100vh;
  position: absolute;
  top: -100vh;
  width: 100%;
  z-index: 1;
  left: 0;
  background: #020102;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  -webkit-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header #menuScreen.open {
  top: 0;
}

header #menuScreen .container {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  grid-gap: 30px;
}

header #menuScreen .container a {
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 0;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

header #menuScreen .container a:hover {
  text-shadow: 3px 3px 0 #626262;
}

header #menuScreen .container a.active {
  color: #fff;
}

footer {
  background: #1c1c2c;
  padding: 50px 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer #footerBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

footer .container .leftFooter {
  text-align: left;
  display: grid;
  grid-template-rows: 100px 50px 50px 50px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

footer .container .leftFooter .icon {
  font-size: 4em;
}

@media only screen and (max-width: 700px) {
  footer .container .leftFooter {
    text-align: center;
  }
}
footer .container .rightFooter p {
  color: #ffffff;
}

footer .container .rightFooter form {
  width: 100%;
  max-width: 360px;
}

footer .container .rightFooter form input,
footer .container .rightFooter form textarea {
  font: 100% "Space Mono", monospace;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  background: transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-weight: 700;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-weight: 700;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-weight: 700;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-weight: 700;
}

footer .container .rightFooter form textarea {
  margin-top: 20px;
  resize: none;
}

footer .container .rightFooter form input[type=text],
footer .container .rightFooter form input[type=email],
footer .container .rightFooter form textarea {
  width: calc(100% - 26px);
  padding: 6px 10px 6px 15px;
}

footer .container .rightFooter form input[type=submit] {
  padding: 6px 10px;
  box-shadow: 0px 0px 0px #949488;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .container .rightFooter form input[type=submit]:hover {
  cursor: pointer;
  font-weight: 700;
  color: #1c1c2c;
  background: #ffffff;
  box-shadow: 5px 5px 0px #949488;
}

@media only screen and (max-width: 700px) {
  footer #footerBox {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .rightFooter {
    max-width: 360px;
    margin: 0 auto;
  }
}
footer #piedepagina {
  text-align: center;
  color: #ffffff;
  font-size: 0.9em;
  padding-top: 40px;
}

footer #piedepagina a {
  text-decoration: none;
  font-weight: 700;
}

footer #piedepagina p {
  margin: 0;
}

.animate {
  opacity: 0;
  transform: translate(0, -100px);
  -webkit-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.animate.active {
  opacity: 1;
  transform: translate(0, 0);
}

/*index*/
#indexSection {
  background-image: url("../img/foto_index.jpg");
}

#nosotrosFirstSection {
  background-image: url("../img/foto_nosotros.jpg");
}

#serviciosFirstSection {
  background-image: url("../img/foto_servicios.jpg");
}

#ingenieriaFirstSection {
  background-image: url("../img/foto_ingenieria.jpg");
}

.firstSection {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 75%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.firstSectionContainer {
  max-width: 540px;
}

.firstSection h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 0px 3px #11111f8c;
  -webkit-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  -moz-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  -ms-animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
  animation: show2 1.5s cubic-bezier(0.42, 0, 0.02, 1.02);
}

.firstSection h1 b {
  font-size: 2em;
  display: block;
  transition: font-size 300ms ease-out;
}

.firstSection button {
  font: 100% "Space Mono", monospace;
  width: 100%;
  font-weight: 700;
  margin: 20px auto;
  background: #9e9ea4;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  -moz-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  -ms-animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
  animation: show2 2s cubic-bezier(0.42, 0, 0.02, 1.02);
}

.firstSection button:hover {
  background: #020102;
  color: #9e9ea4;
}

@media only screen and (max-width: 700px) {
  .firstSection {
    background-position: 0;
    background-size: cover;
    text-align: center;
  }

  .firstSection .container {
    max-width: 300px;
  }

  .firstSection h1 b {
    font-size: 1.5em;
  }
}
.secondSection {
  padding: 100px 0;
}

.secondSection .title {
  max-width: 660px;
  margin: 0px auto 50px auto;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.secondSection .title b {
  font-weight: 700;
}

.secondSection .gridSoluciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.secondSection .gridSoluciones .box {
  display: grid;
  padding: 10px;
  grid-template-rows: 100px auto;
}

.secondSection .gridSoluciones .box div {
  padding: 10px;
}

.secondSection .gridSoluciones .box p {
  font-size: 1.2em;
}

.secondSection .gridSoluciones .box h2 {
  margin-top: 0;
}

.secondSection .gridSoluciones .icon {
  font-size: 5em;
}

@media only screen and (max-width: 700px) {
  .secondSection .gridSoluciones {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
    text-align: left;
  }

  .secondSection .gridSoluciones .box {
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-template-rows: unset;
  }

  .secondSection .gridSoluciones .box p {
    font-size: 1em;
  }

  .secondSection .gridSoluciones .icon {
    font-size: 5em;
  }
}
#serviciosSection {
  padding: 0 0 100px 0;
}

#serviciosSection .title {
  text-align: center;
  font-size: 2em;
}

#serviciosSection .gridServicios {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

#serviciosSection .gridServicios a {
  font-size: 1.5em;
  color: #020102;
  text-decoration: none;
  width: 100%;
}

#serviciosSection .gridServicios a .box {
  padding: 50px 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#serviciosSection .gridServicios a .box .icon {
  font-size: 4.3em;
  position: relative;
}

#serviciosSection .gridServicios a .box p {
  font-weight: 700;
  margin: 0;
}

#serviciosSection .gridServicios .box.gris {
  background: #9e9ea4;
}

#serviciosSection .gridServicios .box.dash {
  border: 3px #1c1c2c dashed;
}

@media only screen and (max-width: 700px) {
  #serviciosSection .gridServicios {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #serviciosSection .gridServicios a .box {
    padding: 25px 10px;
  }

  #serviciosSection .gridServicios a {
    font-size: 1em;
  }
}
#serviciosSection .gridServicios .telecomunicaciones {
  position: relative;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
}

#serviciosSection .gridServicios .telecomunicaciones div {
  background: #1c1c2c;
  color: #ffffff;
}

#serviciosSection .gridServicios .telecomunicaciones .icon {
  color: #ffffff;
}

#serviciosSection .gridServicios .telecomunicaciones .icon .line {
  position: absolute;
  height: 3px;
  background: #1c1c2c;
  border: 0;
  top: 36px;
  left: 19%;
}

#serviciosSection .gridServicios .telecomunicaciones:hover .icon .line {
  -webkit-animation: tele 1s infinite;
  -moz-animation: tele 1s infinite;
  -ms-animation: tele 1s infinite;
  animation: tele 1s infinite;
}

#serviciosSection .gridServicios .control svg {
  width: 50px;
}

#serviciosSection .gridServicios .control:hover .circlepath {
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

#serviciosSection .gridServicios .sistemas svg {
  width: 54px;
}

#serviciosSection .gridServicios .sistemas .line {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSection .gridServicios .sistemas:hover .line {
  opacity: 0;
}

#serviciosSection .gridServicios .sistemas:hover .move {
  -webkit-animation: sistemasMove 1s infinite;
  -moz-animation: sistemasMove 1s infinite;
  -ms-animation: sistemasMove 1s infinite;
  animation: sistemasMove 1s infinite;
}

#serviciosSection .gridServicios .sistemas:hover .move2 {
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

#serviciosSection .gridServicios .sistemas:hover .move3 {
  -webkit-animation: sistemasMove 1s 600ms infinite;
  -moz-animation: sistemasMove 1s 600ms infinite;
  -ms-animation: sistemasMove 1s 600ms infinite;
  animation: sistemasMove 1s 600ms infinite;
}

#serviciosSection .gridServicios .seguridad svg {
  width: 65px;
}

#serviciosSection .gridServicios .seguridad .circle {
  fill: #2a294c;
  stroke: none;
  stroke-width: 0px;
  stroke-dasharray: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#serviciosSection .gridServicios .seguridad:hover .circle {
  fill: none;
  stroke: #2a294c;
  stroke-width: 0.9px;
  -webkit-animation: seguridad 3s infinite;
  -moz-animation: seguridad 3s infinite;
  -ms-animation: seguridad 3s infinite;
  animation: seguridad 3s infinite;
}

#serviciosSection .gridServicios .automatizacion .icon {
  font-size: 3.6em !important;
}

@media only screen and (max-width: 700px) {
  #serviciosSection .gridServicios .sistemas svg {
    width: 65px;
  }

  #serviciosSection .gridServicios .automatizacion .icon {
    font-size: 5.3em !important;
  }
}
#serviciosSection .gridServicios .automatizacion:hover .path6 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.5454545455s;
}

#serviciosSection .gridServicios .automatizacion:hover .path7 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.6363636364s;
}

#serviciosSection .gridServicios .automatizacion:hover .path8 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.7272727273s;
}

#serviciosSection .gridServicios .automatizacion:hover .path9 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.8181818182s;
}

#serviciosSection .gridServicios .automatizacion:hover .path10 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.9090909091s;
}

#serviciosSection .gridServicios .automatizacion:hover .path11 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1s;
}

#serviciosSection .gridServicios .automatizacion:hover .path12 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.0909090909s;
}

#serviciosSection .gridServicios .automatizacion:hover .path13 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.1818181818s;
}

#serviciosSection .gridServicios .automatizacion:hover .path14 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.2727272727s;
}

#serviciosSection .gridServicios .automatizacion:hover .path15 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.3636363636s;
}

#frase_index {
  background-image: url("../img/foto_frase.jpg");
}

#frase_servicios {
  background-image: url("../img/foto_frase_servicios.jpg");
}

#frase_ingenieria {
  background-image: url("../img/foto_frase_ingenieria.jpg");
}

.fraseSection {
  padding: 100px 0;
  display: grid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: auto;
  background-position: 75%;
  background-repeat: no-repeat;
}

.fraseSection p {
  font-size: 1.5em;
  color: #ffffff;
  text-align: left;
  max-width: 550px;
}

.fraseSection p b {
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  .fraseSection {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.glide__bullet {
  border: 2px solid #1d1d3b;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  padding: 0;
  background: transparent;
}

.glide__bullet:hover {
  cursor: pointer;
}

.glide__bullet--active {
  background: #1d1d3b;
}

.glide__bullets {
  text-align: center;
}

#ingenieriaSection {
  padding: 100px 0;
}

#ingenieriaSection h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#ingenieriaSection a {
  text-decoration: none;
}

#ingenieriaSection .glide__slide {
  text-align: center;
  border-radius: 25px;
  margin: 0 50px;
}

#ingenieriaSection .glide__slide .box {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-content: center;
  text-align: left;
}

#ingenieriaSection .glide__slide .box span {
  grid-row-start: 1;
  grid-row-end: 3;
}

#ingenieriaSection .glide__slide .box p {
  padding: 0;
  margin: 0;
}

#ingenieriaSection .glide__slide .box .title {
  font-size: 2em;
  font-weight: 700;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#ingenieriaSection .glide__slide .box .subtitle {
  text-decoration: underline;
  font-size: 1.5em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#ingenieriaSection .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

#ingenieriaSection .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 3em;
}

#ingenieriaSection .glide__slide.detalles .title {
  color: #1d1d3b;
}

#ingenieriaSection .glide__slide.detalles .subtitle {
  color: #adacb2;
}

#ingenieriaSection .glide__slide.conceptual {
  background: #1d1d3b;
}

#ingenieriaSection .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 7em;
}

#ingenieriaSection .glide__slide.conceptual .title {
  color: #ffffff;
}

#ingenieriaSection .glide__slide.conceptual .subtitle {
  color: #adacb2;
}

#ingenieriaSection .glide__slide.basica {
  background: #9e9ea4;
}

#ingenieriaSection .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 2.8em;
}

#ingenieriaSection .glide__slide.basica .title {
  color: #020102;
}

#ingenieriaSection .glide__slide.basica .subtitle {
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  #ingenieriaSection .container {
    max-width: 100%;
    width: 100%;
  }

  #ingenieriaSection .glide__slide {
    margin: 0 25px;
  }

  #ingenieriaSection .glide__slide .box .title {
    font-size: 1.5em !important;
  }
}
@media only screen and (max-width: 550px) {
  #ingenieriaSection .box {
    grid-template-columns: 60px 1fr;
  }

  #ingenieriaSection .glide__slide .box {
    grid-template-columns: 100px 1fr;
  }

  #ingenieriaSection .box .title {
    font-size: 1.2em !important;
  }

  #ingenieriaSection .box .subtitle {
    font-size: 0.7em !important;
  }

  #ingenieriaSection .conceptual .box span {
    font-size: 5em !important;
  }

  #ingenieriaSection .basica .box span {
    font-size: 2.3em !important;
  }

  #ingenieriaSection .detalles .box span {
    font-size: 2.5em !important;
  }
}
#clientesSection {
  padding: 0 0 100px 0;
}

#clientesSection h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#clientesSection .item {
  text-align: center;
  padding: 20px;
}

.glideSection#secondSection .title {
  font-size: 2em;
  text-align: center;
}

.glideSection#secondSection .subtitle {
  font-size: 1.5em;
  text-align: center;
}

.glideSection#secondSection .glide__slide {
  text-align: center;
  border-radius: 25px;
}

.glideSection#secondSection .glide__slide .box {
  width: 75%;
  height: 200px;
  margin: 0 auto;
  max-width: 500px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.glideSection#secondSection .glide__slide .box p {
  padding: 0;
  margin: 0;
}

.glideSection#secondSection .glide__slide .box .title {
  font-size: 1em;
  font-weight: 700;
}

.glideSection#secondSection .glide__slide .box ul {
  margin: 0;
  padding: 0;
}

.glideSection#secondSection .glide__slide .box ul li {
  text-align: left;
  font-size: 0.9em;
  list-style-type: "-";
}

.glideSection#secondSection .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

.glideSection#secondSection .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 3.5em;
}

.glideSection#secondSection .glide__slide.detalles .title {
  color: #1d1d3b;
}

.glideSection#secondSection .glide__slide.detalles ul li {
  color: #1d1d3b;
}

.glideSection#secondSection .glide__slide.conceptual {
  background: #1d1d3b;
}

.glideSection#secondSection .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 3.5em;
}

.glideSection#secondSection .glide__slide.conceptual .title {
  color: #ffffff;
}

.glideSection#secondSection .glide__slide.conceptual ul li {
  color: #ffffff;
}

.glideSection#secondSection .glide__slide.basica {
  background: #9e9ea4;
}

.glideSection#secondSection .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 3.5em;
}

.glideSection#secondSection .glide__slide.basica .title {
  color: #020102;
}

.glideSection#secondSection .glide__slide.basica ul li {
  color: #020102;
}

.glideSection#secondSection .glide__bullets {
  display: none;
}

@media only screen and (max-width: 900px) {
  .glideSection#secondSection .container {
    width: 100%;
  }

  .glideSection#secondSection .glide__bullets {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .glideSection#secondSection .box span {
    font-size: 2em;
  }

  .glideSection#secondSection .box .title {
    font-size: 1.2em;
  }

  .glideSection#secondSection .box ul li {
    font-size: 1em;
  }
}
#boxContainer {
  text-align: center;
  padding-bottom: 100px;
}

#boxContainer p {
  font-size: 1.5em;
}

#boxContainer .box2 {
  margin: 70px auto;
  max-width: 200px;
  font-size: 1.5em;
}

#boxContainer .box2 .icon {
  font-size: 3em;
}

#boxContainer .box2 ul li {
  text-align: left;
  font-size: 0.9em;
  list-style-type: "-";
}

.anime {
  opacity: 0;
  -webkit-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.animeDerecha {
  transform: translate(-100px, 0);
}

.animeIzquierda {
  transform: translate(100px, 0);
}

.anime.active {
  opacity: 1;
  transform: translate(0, 0);
}

.secondSection .subtitle {
  font-size: 1.5em;
  text-align: center;
}

.serviciosBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
  font-size: 1.5em;
  color: #020102;
  width: 100%;
}

.serviciosBox .box {
  border-radius: 20px;
  padding: 25px 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.serviciosBox .box .icon {
  font-size: 3em;
  position: relative;
}

.serviciosBox .box p {
  font-weight: 700;
  margin: 0;
  font-size: 0.7em;
}

.serviciosBox .box ul li {
  text-align: left;
  font-size: 0.6em;
  list-style-type: "-";
}

.serviciosBox .box.gris {
  background: #9e9ea4;
}

.serviciosBox .box.dash {
  border: 3px #1c1c2c dashed;
}

@media only screen and (max-width: 700px) {
  .animeDerecha {
    transform: translate(-50px, 0);
  }

  .serviciosBox {
    grid-template-columns: 1fr;
  }

  #serviciosSection .gridServicios {
    width: 100%;
  }

  #serviciosSection .gridServicios a {
    font-size: 1em;
  }
}
.serviciosBox .telecomunicaciones {
  position: relative;
  color: #ffffff;
}

.serviciosBox .telecomunicaciones .box {
  background: #9e9ea4;
  color: #1c1c2c;
}

.serviciosBox .telecomunicaciones .icon {
  color: #1c1c2c;
}

.serviciosBox .telecomunicaciones .icon .line {
  position: absolute;
  height: 3px;
  background: #9e9ea4;
  border: 0;
  top: 36px;
  left: 19%;
}

.serviciosBox .telecomunicaciones:hover .icon .line {
  -webkit-animation: tele 1s infinite;
  -moz-animation: tele 1s infinite;
  -ms-animation: tele 1s infinite;
  animation: tele 1s infinite;
}

.serviciosBox .seguridad svg {
  width: 65px;
}

.serviciosBox .seguridad .circle {
  fill: #2a294c;
  stroke: none;
  stroke-width: 0px;
  stroke-dasharray: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.serviciosBox .seguridad:hover .circle {
  fill: none;
  stroke: #2a294c;
  stroke-width: 0.9px;
  -webkit-animation: seguridad 3s infinite;
  -moz-animation: seguridad 3s infinite;
  -ms-animation: seguridad 3s infinite;
  animation: seguridad 3s infinite;
}

.serviciosBox .automatizacion .box {
  background: #1c1c2c;
  color: #ffffff;
}

.serviciosBox .automatizacion .icon {
  font-size: 3.6em !important;
}

@media only screen and (max-width: 700px) {
  .serviciosBox .automatizacion .icon {
    font-size: 5.3em !important;
  }
}
.serviciosBox .automatizacion:hover .path6 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.5454545455s;
}

.serviciosBox .automatizacion:hover .path7 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.6363636364s;
}

.serviciosBox .automatizacion:hover .path8 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.7272727273s;
}

.serviciosBox .automatizacion:hover .path9 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.8181818182s;
}

.serviciosBox .automatizacion:hover .path10 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 0.9090909091s;
}

.serviciosBox .automatizacion:hover .path11 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1s;
}

.serviciosBox .automatizacion:hover .path12 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.0909090909s;
}

.serviciosBox .automatizacion:hover .path13 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.1818181818s;
}

.serviciosBox .automatizacion:hover .path14 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.2727272727s;
}

.serviciosBox .automatizacion:hover .path15 {
  -webkit-animation: automatizacion 1s infinite;
  -moz-animation: automatizacion 1s infinite;
  -ms-animation: automatizacion 1s infinite;
  animation: automatizacion 1s infinite;
  animation-delay: 1.3636363636s;
}

.serviciosBox .control svg {
  width: 50px;
}

.serviciosBox .control:hover .circlepath {
  transform-origin: 50% 50%;
  -webkit-animation: control 5s infinite;
  -moz-animation: control 5s infinite;
  -ms-animation: control 5s infinite;
  animation: control 5s infinite;
}

.serviciosBox .sistemas svg {
  width: 65px;
}

.serviciosBox .sistemas .line {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.serviciosBox .sistemas:hover .line {
  opacity: 0;
}

.serviciosBox .sistemas:hover .move {
  -webkit-animation: sistemasMove 1s infinite;
  -moz-animation: sistemasMove 1s infinite;
  -ms-animation: sistemasMove 1s infinite;
  animation: sistemasMove 1s infinite;
}

.serviciosBox .sistemas:hover .move2 {
  -webkit-animation: sistemasMove 1s 300ms infinite;
  -moz-animation: sistemasMove 1s 300ms infinite;
  -ms-animation: sistemasMove 1s 300ms infinite;
  animation: sistemasMove 1s 300ms infinite;
}

.serviciosBox .sistemas:hover .move3 {
  -webkit-animation: sistemasMove 1s 600ms infinite;
  -moz-animation: sistemasMove 1s 600ms infinite;
  -ms-animation: sistemasMove 1s 600ms infinite;
  animation: sistemasMove 1s 600ms infinite;
}

#ingenieriaCarousel {
  padding: 100px 0;
}

#ingenieriaCarousel h2 {
  text-align: center;
  letter-spacing: 0.3em;
}

#ingenieriaCarousel .subtitle {
  text-align: center;
}

#ingenieriaCarousel a {
  text-decoration: none;
}

#ingenieriaCarousel .glide__slide {
  text-align: center;
  border-radius: 25px;
}

#ingenieriaCarousel .glide__slide .box {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px auto auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#ingenieriaCarousel .glide__slide .box p {
  padding: 0;
  margin: 0;
}

#ingenieriaCarousel .glide__slide .box ul {
  padding: 0;
  margin: 0;
}

#ingenieriaCarousel .glide__slide .box ul li {
  text-align: left;
  text-align: left;
  font-size: 0.9em;
  list-style-type: "-";
}

#ingenieriaCarousel .glide__slide .box .title {
  font-size: 1.4em;
  font-weight: 700;
}

#ingenieriaCarousel .glide__slide .box .subtitle {
  text-decoration: underline;
  font-size: 1em;
}

#ingenieriaCarousel .glide__slide.detalles {
  border: 2px #1d1d3b dashed;
}

#ingenieriaCarousel .glide__slide.detalles .box span {
  color: #1d1d3b;
  font-size: 2.5em;
}

#ingenieriaCarousel .glide__slide.detalles .title {
  color: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.detalles ul li {
  color: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.conceptual {
  background: #1d1d3b;
}

#ingenieriaCarousel .glide__slide.conceptual .box span {
  color: #ffffff;
  font-size: 5em;
}

#ingenieriaCarousel .glide__slide.conceptual .title {
  color: #ffffff;
}

#ingenieriaCarousel .glide__slide.conceptual ul li {
  color: #ffffff;
}

#ingenieriaCarousel .glide__slide.basica {
  background: #9e9ea4;
}

#ingenieriaCarousel .glide__slide.basica .box span {
  color: #1d1d3b;
  font-size: 2.3em;
}

#ingenieriaCarousel .glide__slide.basica .title {
  color: #020102;
}

#ingenieriaCarousel .glide__slide.basica ul li {
  color: #020102;
}

#ingenieriaCarousel .glide__bullets {
  display: none;
}

@media only screen and (max-width: 900px) {
  #ingenieriaCarousel .container {
    max-width: 100%;
    width: 100%;
  }

  #ingenieriaCarousel .glide__bullets {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  #ingenieriaCarousel .conceptual .box span {
    font-size: 3.5em;
  }

  #ingenieriaCarousel .basica .box span {
    font-size: 2em;
  }

  #ingenieriaCarousel .detalles .box span {
    font-size: 1.8em;
  }

  #ingenieriaCarousel .box .title {
    font-size: 1.2em;
  }

  #ingenieriaCarousel .box .subtitle {
    font-size: 0.7em;
  }
}
.polizaSection {
  padding: 50px 0;
}

.polizaSection .container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
}

.polizaSection .container .iconContainer {
  font-size: 5em;
  text-align: center;
}

/*ANIMATIONS*/
@-webkit-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-moz-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-ms-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-o-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-ms-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-ms-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes show2 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-moz-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-ms-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-o-keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes menuSpan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-moz-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-ms-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-o-keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@keyframes tele {
  0% {
    width: 0;
  }
  25% {
    width: 10px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 35px;
  }
}
@-webkit-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes control {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 4px);
  }
}
@-moz-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 4px);
  }
}
@-ms-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 4px);
  }
}
@-o-keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 4px);
  }
}
@keyframes sistemasMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 4px);
  }
}
@-webkit-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-moz-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-ms-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-o-keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@keyframes seguridad {
  0% {
    stroke-dasharray: 12;
  }
  50% {
    stroke-dasharray: 20;
  }
  100% {
    stroke-dasharray: 12;
  }
}
@-webkit-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-moz-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-ms-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@-o-keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
@keyframes automatizacion {
  0% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
